BOT_TOKEN = ""
APP_ID = ""
API_HASH = ""
DATABASE_URL = "postgresql://uname:pass@ip:5432/db_gdrive"
SUDO_USERS = " 20516707 1380309560"  # Sepearted by space.
SUPPORT_CHAT_LINK = "t.me/elupdates"
DOWNLOAD_DIRECTORY = "./downloads/"
G_DRIVE_CLIENT_ID = "12345.apps.googleusercontent.com"
G_DRIVE_CLIENT_SECRET = "GOCSPX-vKupiI6C"